{% extends 'base.html' %}
{% load sidebar %}

{% block content %}
<section class="single-blog-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="border-top">
                    <div class="col-md-8" style="margin-top:40px">
                        <div class="blog-area">
                            <div class="blog-area-part">
                                <div class="row">
                                    <div class="blog-post-area-style">
                                        <div class="col-md-12">
                                            <div class="single-post">
                                                <div class="col-md-7">
                                                    <img src="{{post.photo.url}}" alt="{{post.title}}">
                                                </div>
                                                <h3><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>

                                                <h4><span>Posted By: <span
                                                        class="author-name">{{post.author}}</span></span>
                                                </h4>
                                                <h4><span>Category: <span class="author-name">
                                                    <a href="{{post.category.get_absolute_url}}">{{post.category}} </a></span></span>
                                                </h4>
                                                <h4><span>Views: <span>{{ post.views }}</span></span>
                                                </h4>
                                                <h4><span>{{post.created_at}}</span></h4>
                                                {% if post.tags.exists %}
                                                <h4><span>Tags: <span
                                                        class="author-name">
                                                    {% for it in post.tags.all %}
                                                    <a href="{{it.get_absolute_url}}">{{it.title}}</a>
                                                    {% endfor %}

                                                </span></span>
                                                </h4>
                                                {% endif %}
                                                <p><h4 >Content:</h4>{{post.content|safe}}</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="blog-area">
                            {% tags_tpl %}
                            {% popular %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}
{% endblock %}
