{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block content %}

<section class="single-blog-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="border-top ">
                    <div class="col-md-8">
                        <div class="blog-area" style="margin-top: 40px; display: block">
                            <div class="blog-area-part">
                                {% for quote in quotes %}
                                <h2>{{ quote.title }}</h2>
                                <div class="row">
                                    <div class="blog-post-area-style">
                                        {% for post in posts %}
                                        <div class="col-md-6">
                                            <div class="single-post">
                                                <img src="{{post.photo.url}}" alt="{{post.title}}">
                                                <h3><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
                                                <h4><span>Posted By: <span
                                                        class="author-name">{{post.author}}</span></span>
                                                </h4>
                                                <hr>
                                                <p>{{post.content|truncatewords:16|safe}}</p>
                                                <hr>
                                                <h4><span>{{post.created_at}}</span></h4>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <h3><i class="fa fa-quote-left" aria-hidden="true"></i>{{ quote.content }}<i
                                        class="fa fa-quote-right" aria-hidden="true"></i></h3>
                                {% endfor %}
                            </div>

                            <hr>
                            <div class="commententries">
                                <h3>Comments</h3>
                                {% for comment in comments %}
                                <ul class="commentlist">
                                    <li>
                                            <header class="comment-author">
                                                <img src="{% static 'img/author-1.jpg' %}" alt="">
                                            </header>

                                            <section class="comment-details">
                                                <div class="author-name">
                                                    <h5><a href="#">{{ comment.username }}</a></h5>
                                                    <p>{{ comment.created_at }}</p>
                                                </div>
                                                <div class="comment-body">
                                                    <p>{{ comment.context }}</p>
                                                </div>
                                            </section>

                                    </li>
                                </ul>
                                {% endfor %}
                            </div>
                            {% if request.user.is_authenticated %}

                            <form action="{% url 'category' category.slug %}" method="POST">
                                {% csrf_token %}
                                {{ form_com.username }}
                                {{ form_com.context }}
                                <input type="submit" value="Comment" style="width:100%" >
                            </form>
                            {% else %}
                            <div class="comment-body">
                                <p>If you want to leave a comment, PLEASE <a href="{% url 'login' %}">SIGN IN</a></p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        {% search %}
                        {% include 'inc/subscribers.html' %}
                        {% popular %}
                        {% tags_tpl %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}