{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block content %}

<section class="single-blog-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="border-top ">
                    <div class="col-md-8">
                        <div class="blog-area" style="margin-top: 40px; display: block">
                            <div class="blog-area-part">
                                {% for quote in quotes %}
                                <h2>{{ quote.title }}</h2>
                                <div class="row">
                                    <div class="blog-post-area-style">
                                        {% for post in posts %}
                                        <div class="col-md-6">
                                            <div class="single-post">
                                                <img src="{{post.photo.url}}" alt="{{post.title}}">
                                                <h3><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
                                                <h4><span>Posted By: <span
                                                        class="author-name">{{post.author}}</span></span>
                                                </h4>
                                                <hr>
                                                <p>{{post.content|truncatewords:16|safe}}</p>
                                                <hr>
                                                <h4><span>{{post.created_at}}</span></h4>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <h3><i class="fa fa-quote-left" aria-hidden="true"></i>{{ quote.content }}<i
                                        class="fa fa-quote-right" aria-hidden="true"></i></h3>
                                {% endfor %}
                            </div>

                            <hr>
                            <div class="commententries">
                                <h3>Comments</h3>

                                <ul class="commentlist">
                                    <li>
                                        <article class="comment">
                                            <header class="comment-author">
                                                <img src="{% static 'img/author-1.jpg' %}" alt="">
                                            </header>
                                            <section class="comment-details">
                                                <div class="author-name">
                                                    <h5><a href="#">Selina Gomez</a></h5>
                                                    <p>February 25 2017</p>
                                                </div>
                                                <div class="comment-body">
                                                    <p>is simply dummy text of the printing and typesetting industry.
                                                        Lorem Ipsum has been the industry's standard </p>
                                                </div>
                                                <div class="reply">
                                                    <p><span><a href="#"><i class="fa fa-thumbs-up"
                                                                            aria-hidden="true"></i></a>12</span><span><a
                                                            href="#"><i class="fa fa-reply" aria-hidden="true"></i></a>7</span>
                                                    </p>
                                                </div>
                                            </section>
                                        </article>

                                        <ul class="children">
                                            <li>
                                                <article class="comment">
                                                    <header class="comment-author">
                                                        <img src="{% static 'img/author-2.jpg' %}" alt="">
                                                    </header>
                                                    <section class="comment-details">
                                                        <div class="author-name">
                                                            <h5><a href="#">Khalid Hasan Zibon</a></h5>
                                                            <p>February 25 2017</p>
                                                        </div>
                                                        <div class="comment-body">
                                                            <p>is simply dummy text of the printing and typesetting
                                                                industry. Lorem Ipsum has been the industry's
                                                                standard </p>
                                                        </div>
                                                        <div class="reply">
                                                            <p><span><a href="#"><i class="fa fa-thumbs-up"
                                                                                    aria-hidden="true"></i></a>12</span><span><a
                                                                    href="#"><i class="fa fa-reply"
                                                                                aria-hidden="true"></i></a>7</span></p>
                                                        </div>
                                                    </section>
                                                </article>
                                            </li>
                                        </ul>

                                    </li>
                                    <li>
                                        <article class="comment">
                                            <header class="comment-author">
                                                <img src="{% static 'img/author-3.jpg' %}" alt="">
                                            </header>
                                            <section class="comment-details">
                                                <div class="author-name">
                                                    <h5><a href="#">Heath Ledger</a></h5>
                                                    <p>February 25 2017</p>
                                                </div>
                                                <div class="comment-body">
                                                    <p>is simply dummy text of the printing and typesetting industry.
                                                        Lorem Ipsum has been the industry's standard </p>
                                                </div>
                                                <div class="reply">
                                                    <p><span><a href="#"><i class="fa fa-thumbs-up"
                                                                            aria-hidden="true"></i></a>12</span><span><a
                                                            href="#"><i class="fa fa-reply" aria-hidden="true"></i></a>7</span>
                                                    </p>
                                                </div>
                                            </section>
                                        </article>
                                    </li>
                                </ul>

                            </div>
                            <form action="#" method="get">
                                <div class="name">
                                    <input type="text" name="" placeholder="Name" class="name">
                                </div>
                                <div class="email">
                                    <input type="email" name="" placeholder="Email" class="email">
                                </div>
                                <div class="comment">
                                    <input type="text" name=""placeholder="Comment" class="comment">
                                </div>
                                <div class="post">
                                    <input type="submit" value="Post">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        {% search %}
                        {% include 'inc/subscribers.html' %}
                        {% popular %}
                        {% tags_tpl %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}