{% extends 'base.html' %}
{% load menu %}
{% load sidebar %}

{% block title %}
{{title}} :: {{block.super}}
{% endblock %}

{% load static %}

{% block header %}
{% endblock%}

{% block content %}
<h1>Change password</h1>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 ">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-error">{{form.non_field_errors}}</div>
            {% for f in form %}
            <p><label class="form-label" for="{{f.id_for_label}}">{{f.label}}</label> {{f}} </p>
            <div class="form-error">{{f.errors}}</div>
            {% endfor %}
                <button type="submit" class="btn btn-primary" style="margin: 0 auto;">Change password</button>
                <a href="{% url 'login' %}"><input type="button" value="Login" class="btn btn-primary"></a>

        </form>
    </div>
</div>


{% endblock %}

{% block footer %}
{% endblock %}